/*Estilos generales*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}

/*Estilos generales: subtitulos*/

.subtitulo{
    text-align: center;
    font-weight: bolder;
    color: black;
    margin-bottom: 40px;
    font-size: 45px;
}

.button-info{
    font-size: 1.5em;
    font-weight: lighter;
    padding: 7px 20px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    color: white;
    background-color: black;
    cursor: pointer;
}

.button-info:hover{
    background-color: rgb(32, 29, 29);
    border: 1px solid white;
    color: white;
}

/*Hero*/
/*
.text{
    animation-duration: 5s;
    animation-name: texto;
}

@keyframes texto{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
*/
.contenedor{
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto; 
    padding: 60px 0;
}

header{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/hero.jpg");
}

.head{
    text-align: center;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.hamburger{
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.menu-navegacion{
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
    width: 20vw;
    height: 100%;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out;
    transform: translate(110%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    z-index: 999;
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-navegacion a:hover{
    color: black;
    border-bottom: 1px solid black;
}


.titulo{
    font-size: 50px;
    margin-bottom: 15px;
}

.copy{
    font-weight: 300;
    font-size: 25px;
}

/*Home*/

.home-contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-top: 65px;
    margin-bottom: 65px;
    align-items: center;
}

.contenedor-white{
    border-radius: 8px;
    width: 375px;
    height: 470px;
    text-align: center;
    line-height: 30px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    background: white;
    padding-top: 10px;
    border: 1px solid black;
}

.contenedor-black{
    border-radius: 8px;
    width: 590px;
    height: 380px;
    text-align: center;
    margin-bottom: 20px;
    background: white;
}

.contenedor-black .home-titulo{
    font-size: 45px;
}

.video{
    border-radius: 5px;
    border: 4px solid black;
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    margin-top: 25px;
}

.home-titulo{
    text-align: center;
}

.home-titulo2{
    text-align: center;
    margin-top: 30px;
}

.home-texto{
    margin-top: 10px;
    font-size: 20;
    font-weight: 500;
}

.home-contenedor .button-spanish{
    font-size: 20px;
    font-weight: bold;
    padding: 6px 16px;
    border-radius: 10px;
    border: 3px solid yellow;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    color: white;
    background-color: black;
    cursor: pointer;
    margin-top: 25px;
}

.home-contenedor .button-spanish:hover{
    background-color: white;
    color: black;
}

.home-contenedor .button-polish{
    font-size: 20px;
    font-weight: bold;
    padding: 6px 16px;
    border-radius: 10px;
    border: 3px solid rgb(46, 85, 85);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.541);
    color: white;
    background-color: black;
    cursor: pointer;
    margin-top: 25px;
}

.home-contenedor .button-polish:hover{
    background-color: white;
    color: black;
}

/*Expertos*/

.contenedor{
    margin-top: 55px;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-expert{
    width: 25%;
    text-align: center;
    margin-bottom: 15px;
}

.cont-expert img{
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
}

.n-experts{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
}

/*Agenda y efemerides*/

.subtitulo-home{
    color: white;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 30px;
    font-size: 30px;
}

.galeria{
    background: black;
    border-top: 3px solid rgb(37, 37, 37);
    box-shadow: 0 0 8px 0 rgba(168, 161, 161, 0.5);
}

.galeria-cont{
    margin-top: 45px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
}

.galeria-cont>img{
    width: 23%;
    object-fit: cover;
    margin-bottom: 20px;
    display: block;
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(168, 161, 161, 0.5);
    overflow: hidden;
}


/*Sobre nosotros*/

.nosotros-contenedor{
    width: 95%;
    margin: 40px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "nosotros-subtitulo nosotros-img"
                            "nosotros-texto nosotros-img"
                            "nosotros-media nosotros-img";
}

.nosotros-subtitulo{
    grid-area: nosotros-subtitulo;
}

.nosotros-contenedor .nosotros-texto{
    grid-area: nosotros-texto;
}

.nosotros-contenedor .nosotros-media{
    grid-area: nosotros-media;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.nosotros-contenedor .nosotros-img{
    grid-area: nosotros-img;
    max-height: 100%;
    margin-top: 40px;
}

.nosotros-img img{
    border-radius: 5px;
    box-shadow: 0 0 8px 0 rgba(168, 161, 161, 0.5);
}

.nosotros-media .social-media-icon{
    border: 1px solid black;
    color: black;
}

.nosotros-media .social-media-icon:hover{
    background: white;
    color: rgb(30, 58, 58);
    border: 1px solid rgb(30, 58, 58);
    transform: scale(1.2);
}


/*
.contenedor-nosotros{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-nosotros img{
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.checklist-nosotros{
    width: 45%;
}

.our{
    margin-bottom: 20px;
}

.n-our{
    margin-bottom: 7px;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, black 0%, rgb(167, 161, 161) 100%);
    width: 30px;
    height: 30px;
    color: white;
    text-align: center;
    border-radius: 50px;
    font-weight: 50px; 
    line-height: 30px;
    margin-right: 5px;
}
*/
/*Actividades - servicios*/

h3{
    font-size: 30px;
}

.container{
    max-width: 1400px;
    margin: auto;
}


#nuestras-actividades{
    color: white;
    text-align: center;
}


#nuestras-actividades .container{
    padding: 100px 0px;
}

#nuestras-actividades p{
    display: none;
    margin-bottom: 30px;
}


#nuestras-actividades .carta{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.carta:first-child{
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/card1.jpg");
}

.carta:nth-child(2){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/card2.jpeg");
}

.carta:nth-child(3){
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/card3.jpg");
}


/*Aniversario*/

.aniversary{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image:linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("https://pbs.twimg.com/media/EVXZcqlXsAAuFfK?format=jpg&name=4096x4096");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.aniversary h3{
    color: white;
    margin-right: 900px;
    margin-bottom: 20px;
    font-size: 27px;
}

.aniversary p{
    color: white;
    margin-right: 900px;
    font-size: 14px;
}

.aniversary .button-info{
    font-size: 1.1em;
    font-weight: lighter;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid white;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, .5);
    color: white;
    background-color: black;
    cursor: pointer;
    margin-right: 900px;
    margin-top: 30px;
}

.aniversary .button-info:hover{
    background-color: rgb(32, 29, 29);
}


/*galeria*/

.gallery{
    background: #f2f2f2;
}

.gallery__menu{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    max-width: 800px;
    margin:30px auto;
    font-weight: 600;
    cursor: pointer;
    
}

.gallery-menu__item{
    text-transform: capitalize;
    transition: all 250ms ease-in-out;
}

.gallery-menu__item:hover{
    transform: scale(1.2);
}

.gallery-menu__item--selected{
    background-color: black;
    color:white;
    border-radius: 3px;
    padding: 6px 9px;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.image-gallery-container{
    width: 30%;
    position:relative;
}

.image-gallery-container .favorite-icon{
    display:none;
    position:absolute;
    top:10px;
    right: 10px;
    color:#dcd7d7;
    cursor: pointer;
}

.image-gallery-container:hover .favorite-icon{
    display:block;
}

.image-gallery-container .favorite-icon--active{
    display:block;
    color:#e73a3a;
}

.image-gallery-container .favorite-icon i{
    font-size: 1.6rem;
}


.img-galeria{
    object-fit: cover;
    width: 100%;
    display: block;
    margin-bottom: 15px;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(0, 0, 0, .6);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

.agregar-imagen{
    object-fit: cover;
    width: 60%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

/*Novedades*/

.novedades-contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 60px;
    margin-bottom: 60px;
}

.novedades-foto{
    width: 350px;
    height: 600px;
    text-align: center;
    line-height: 30px;
}

.novedades-foto img{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.novedades-texto{
    width: 340px;
    height: 600px;
    text-align: center;
    line-height: 30px;
}

.novedades-texto h2{
    margin-top: 35px;
    margin-bottom: 40px;
}

/*Footer*/

footer{
    background: black;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: 40%;
    color: white;
    font-size: 12px;
}

.contact-us p{
    margin-top: 20px;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    display: block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    color: white;
}

.social-media-icon:hover{
    background: white;
    color: darkslategray;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    height: 2px;
    background: white;
    margin-bottom: 60px;
}

/*Footer: contacto*/

.contact{
    background: black;
    color: white;
}

.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input{
    background: transparent;
    border: 0;
    color: white;
    outline: none;
    border: 1px solid white;
    padding: 20px 10px;
}

.input::placeholder{
    color: white;
    font-family: 'raleway', 'sans-serif';
}

input[type="text"],
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}

input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: darkslategray;
    background: white;
}


/*Medias seccion actividades y servicios*/

@media (min-width: 720px){
    
    #nuestras-actividades .actividades{
        display: flex;
        justify-content: center;
    }

    #nuestras-actividades p{
        display: block;
        margin-top: 25px;
    }
    #nuestras-actividades h3{
        margin-top: 0;
    }

    #nuestras-actividades .carta{
        padding: 50px;
        box-shadow: rgba(2, 2, 10, alpha);
    }
}

/* Medias generales*/

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-nosotros img{
        width: 80%;
        margin-bottom: 40px;
    }

    .checklist-nosotros{
        width: 80%;
    }

    .our{
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .social-media i{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40%;
    }
}

@media screen and (max-width: 500px){
    .menu-navegacion{
        width: 65vw;
    }

    .hamburger{
        top: 20px;
        right: 20px;
    }

    .titulo{
        font-size: 30px;
    }

    .subtitulo{
        font-size: 30px;
    }

    .agregar-imagen{
        width: 95%;
    }

    .img-galeria{
        width: 95%;
    }

    .social-media{
        width: 100%;
    }

    .contact-us{
        width: 90%;
    }
}

